body {
    background-color: lightblue;
    width: 60%;
    margin: auto;
}

.content {
    background-color: rgb(251, 255, 0);
    padding: 5px;
    border: 1px solid black;
}

th,
td {
    border: 1px solid black;
}

img {
    height: 200px;
}